header {
    flex-direction: row;
    font-size: 36px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
    height: 100px;
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: TildaSansBold;
    
  
    padding: 5px;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);

    cursor: pointer;
}
.login {
    display: flex;
    cursor: pointer;
    border-radius: 50%;
}
@media (hover: hover) {
   .logo:hover, .login:hover {
    background-color: rgb(255, 255, 255);
    } 
}

.logo:active, .login:active {
    transition: all ease-in-out .05s;
	background-color: rgb(205, 205, 205);
}
