header {
    font-size: 36px;
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: TildaSansBold;
    
  
    padding: 5px;
    border-radius: 20px;
    border: solid 2px rgb(0, 0, 0);
}
.login {
    display: flex;
}