.CodeInput {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.CodeInput textarea {
    display: flex;
    background-color: white;
    border-color: black;
    outline: black solid 2px;
    border-radius: 20px;

    width: 90%;
    max-width: 1000px;
    height: 30vh;
    max-height: 400px;

    padding: 20px;
    cursor: pointer;
}

.CodeInput textarea:hover {
    outline: rgb(113, 112, 112) solid 2px;
}

.CodeInput textarea:focus {
    cursor: text;
}
