/* Tilda Sans font connect */

/*Main background color: rgb(239, 229, 229); */

* {
	padding: 0px;
	margin: 0px;
	border: none;
	transition: all ease-in-out .2s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: vertical;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

@font-face {
    font-family: "TildaSansBold";
    src: local('TildaSansBold'), url('../Fonts/TildaSans/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff'), format('woff');
}

h1 {
    font-size: 24px;
}
button {
	display: flex;
	padding: 10px;
	border: black solid 2px;
	color: black;
	border-radius: 10px;
	font-size: 18px;
	background-color: white;

}
@media (hover: hover) {
	button:hover {
	background-color: rgb(239, 229, 229);
	}
}
button:active {
	transition: all ease-in-out .05s;
	background-color: rgb(205, 205, 205);
}

.container {
	display: flex;
	width: 90vw;
	max-width: 1440px;
}

input,
textarea,
button,
select,
a,
div {
    -webkit-tap-highlight-color: transparent;
}