form {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    row-gap: 20px;
    
    border: solid 1px black;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
}
form input {
    border: solid 1px black;
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px
}
input:focus {
    outline: none;

}
p, h2 {
    text-align: center;
}
.inputDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.error_text {
    color: rgb(226, 59, 59);
}
.submitInput {
    border-radius: 20px;
    padding: 10px 5px;
    width: 60%;
    min-width: 200px;
    margin-inline: auto;
}
